@model FuenteDeVida.EN.Usuario

@{
    ViewData["Title"] = "Clave";
}

<h1>Cambiar Clave</h1>
<hr />
<form asp-action="Clave" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" name="id" value="@Model.IdUsuario" />
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" disabled />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label>Clave actual</label>
                <input type="password" name="claveActual" class="form-control" required />
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label>Nueva clave</label>
                    <input type="password" name="nuevaClave" class="form-control" required />
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label>Confirmar clave</label>
                    <input type="password" name="confirmarclave" class="form-control" required />
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="form-group mt-2">
                    <input type="submit" value="Cambiar Clave" class="btn btn-primary" />
                    <a asp-action="Login" class="btn btn-dark">Cancelar</a>
                </div>
                <span class="text-danger">@ViewBag.Error</span>
            </div>
        </div>
</form>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(function () {
            $("form input[name]").trigger("blur");
        });
    </script>
}