@{
    ViewData["Title"] = "Home Page";
}
<div class="hero">
    <div class="hero-content">
        <h1>Bienvenido a Fuente de Vida</h1>
        <p>
            Sistema de Administración de facturación por consumo, gestión de cartera vencida
            y monitoreo de pagos para juntas de agua potable
        </p>
    </div>
</div>