@model FuenteDeVida.EN.Multa

@{
    ViewData["Title"] = "Edit";
}

<h1>Modificar Multa</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdMulta" />
           @*  <div class="form-group">
                <label asp-for="IdMulta" class="control-label"></label>
                <input asp-for="IdMulta" class="form-control" />
                <span asp-validation-for="IdMulta" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Monto" class="control-label"></label>
                <input asp-for="Monto" class="form-control" />
                <span asp-validation-for="Monto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaVencimiento" class="control-label"></label>
                <input asp-for="FechaVencimiento" type="date" class="form-control" />
                <span asp-validation-for="FechaVencimiento" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="Top_Aux" class="control-label"></label>
                <input asp-for="Top_Aux" class="form-control" />
                <span asp-validation-for="Top_Aux" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="IdComunidad" class="control-label"></label>
                <input asp-for="IdComunidad" class="form-control" />
                <span asp-validation-for="IdComunidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="GUARDAR" class="btn btn-primary" />
                <a asp-action="Index" class=" btn btn-dark">CANCELAR</a>
            </div>
            <span class="text-danger">@ViewBag.Error</span>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(function () {
            $("form input[name],form select[name]").trigger("blur");
        });
    </script>
}
