@model FuenteDeVida.EN.Cuota

@{
    ViewData["Title"] = "Create";
}

<h1>Crear Cuota</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @* <div class="form-group">
                <label asp-for="IdCuota" class="control-label"></label>
                <input asp-for="IdCuota" class="form-control" />
                <span asp-validation-for="IdCuota" class="text-danger"></span>
            </div> *@

            <div class="form-group">
                <label asp-for="IdComunidad" class="control-label"></label>
                <input asp-for="IdComunidad" class="form-control" />
                <span asp-validation-for="IdComunidad" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Monto" class="control-label"></label>
                <input asp-for="Monto" class="form-control" />
                <span asp-validation-for="Monto" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TipoServicio" class="control-label"></label>
                <input asp-for="TipoServicio" class="form-control" />
                <span asp-validation-for="TipoServicio" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="FechaLimite" class="control-label"></label>
                <input asp-for="FechaLimite" class="form-control" type="date" />
                <span asp-validation-for="FechaLimite" class="text-danger"></span>
            </div>

            @* Opcional ocultar Top_Aux *@
            @* 
            <div class="form-group">
                <label asp-for="Top_Aux" class="control-label"></label>
                <input asp-for="Top_Aux" class="form-control" />
                <span asp-validation-for="Top_Aux" class="text-danger"></span>
            </div>
            *@

            <div class="form-group mt-2">
                <input type="submit" value="GUARDAR" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-dark">CANCELAR</a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}